body {
    background-color: darkgrey;
}

.container {
    margin-top: 5em;
    margin-bottom: 8em;
}

.enterNameForm {
    border: 1px solid #ced4da;
    border-radius: .25em;
    background-color: #e9ecef;
    height: auto;
}
.input-field {
    padding: 1em;
    margin: 13px;
}

#inputName {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;

    border-radius: .25em;
    margin-left: 15px;
    margin-right: 50px;
    margin-bottom: 15px;
}

.titleNameForm {
    padding: 15px;
    padding-bottom: 0;
}

label {
    padding-left: 40px;
}

#sortBtn {
    border: 1px solid ghostwhite;
    background-color: ghostwhite;
    border-radius: .25em;
    padding-left: 1em;
    padding-right: 1em;
}

#startBtn {
    color: white;
}

.hide {
    display: hidden;
}


.col-sm-4 {
    margin-top: 10px; 
    padding: 8px;
}

.card{

    text-align: center;
    }
    
#expel {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 30px;
    }